body {
    background-color:#dfd1ae;
}

.brown {
    background-color: #29221a !important;
}

.active {
    font-weight: bold;
}

.hlavnilogo {
    width: 5rem;
    height: auto;
}

main {
   
    min-height: 55vh;
}

.active {
    font-weight: bold;
}

footer {
    background-color: #84755d;
}

footer img {
    width: 50%;
    height: auto;
   
}

main.p {
    margin: 0;
    line-height: 2.5em;
}

tr, td, th {
    background-color: transparent !important;
    }

td {
        text-align: center;
        }


@media screen and (max-width: 768px) {
    .hlavnilogo {
        width: 2rem;
        height: auto;
    }
    
        
        
        }


        @media screen and (max-width: 991px) {
            .hlavnilogo {
                width: 3rem;
                height: auto;
            }
            
                
                
                }
        
